#about-sec-1 {
    margin-top: 150px;
}
#about-sec-1 .img-box img {
    height : 702px;
}
#about-sec-1 .text-box h1 {
    color: #0D1320;
    font-family: Space Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#about-sec-1 .text-box p {
    color: #0D1320;
    /* font-family: Montserrat; */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}
#about-sec-1 .text-box .abt_rise {
    color: #0D1320;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px; /* 137.5% */
}
.text-box {
    max-width: 560px;
}

.get-touch > .tag-line {
    color: rgba(13, 19, 32, 0.50);
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.get-touch > h2 {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(13, 19, 32, 0.90);
    font-family: Space Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.border-b-footer .col-md-12{
    display: none;
}
footer {
    height: unset !important;
}