#wow-case-study{
    padding: 230px 0px 50px;
    text-align: center;
}
#wow-case-study .sub-heading,
#wow-case-study .primary-heading,
.main-amal-case-study h2.sub-heading,
.main-amal-case-study h2.primary-heading{
    font-weight: 700;
}
#wow-case-study .primary-heading,
.main-amal-case-study h2.primary-heading{
    font-size: 84px;
    color: #181818;
    margin-bottom: 90px;
}
#wow-case-sec-2 .primary-para:after{
    background: #000;
}
.heading_3{
    letter-spacing: 0px !important;
}
#wow-case-sec-2 .primary-para,
#wow-case-sec-2 .heading_3,
#wow-case-study .primary-para{
    color: #000;
}
#wow-case-study .animate_image_on_height:after{
    transition: height 3s ease;
}
#wow-case-study .ring{
    max-width: 200px;
}
.next_btn .sub-heading:after{
    background: #000;
}
.next_btn a{
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #181818;
}
.next_btn a.sub-heading:hover{
    color: #000;
}
.app_screen_content{
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 5% !important;
}
.app_screen_content .app_screen_paras p{
    position: relative;
    font-family: 'Whyte';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #181818;
    padding-right: 40px;
}
.app_screen_content .app_screen_paras p:nth-child(1){
    height: 171px;
}
.app_screen_content .app_screen_paras p::after{
    content: " ";
    position: absolute;
    width: 8px;
    height: 171px;
    right: 0px;
    top: 0px;
    background: #B9B9B9;
    border-radius: 2px;
}
.app_screen_content .app_screen_paras p:nth-child(2),
.app_screen_content .app_screen_paras p:nth-child(2)::after{
    height: 117px;
}
.app_screen_content .app_screen_paras p:nth-child(3),
.app_screen_content .app_screen_paras p:nth-child(3)::after{
    height: 83px;
}
.app_screen_content .app_screen_paras{
    padding: 0px 30px 0px 100px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#wow-case-sec-2{
    padding: 50px 0px;
    margin-top: -100px;
}
.wow-7_img img{
    width: 100%;
}
@media only screen and (max-width: 567px) {
    #wow-case-study {
        padding: 140px 0px 50px;
    }
    #wow-case-study .sub-heading,
    .main-amal-case-study h2.sub-heading{
        font-size: 16px;
        margin-bottom: 20px;
    }
    #wow-case-study .primary-heading,
    .main-amal-case-study h2.primary-heading{
        font-size: 40px !important;
    }
    #wow-case-study > div.main-content.position-relative.animate_image.animate_image_on_height{
        min-height: 300px;
        max-height: 300px;
    }
    #wow-case-sec-2 .heading_3{
        font-size: 16px;
        line-height: 30px;
    }
    #wow-case-sec-2 .primary-para{
        line-height: 26px;
    }
    #wow-case-sec-2{
        padding: 50px 0px;
        margin-top: unset;
    }
    .main-content.

    .wow-3_img .row > div.col-md-5 > img{
        height: unset;
        width: 100%;
    }
    .girl_with_wow_shirt{
        width: 100%;
        object-fit: contain;
        height: auto;
    }
    .app_screen_content{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .app_screen_content .app_screen_paras p{
        font-size: 10px;
    }
    .app_screen_content .app_screen_paras{
        padding: 40px 10px 0px 10px;
        height: fit-content;
    }
    .app_screen_content img{
        width: 179px;
    }
    .app_screen_content .app_screen_paras p::after{
        display: none;
    }
    .app_screen_content .app_screen_paras p {
        padding-right: 0px;
    }
    .app_screen_content .app_screen_paras p:nth-child(1){
        height: 100px;
    }
    .app_screen_content .app_screen_paras p:nth-child(2){
        height: 80px;
    }
    .wow-7_img img{
        width: 110%;
        object-fit: contain;
    }

    .next_btn a{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
    }
}
@media only screen and (max-width: 375px) {

}


/*------------------amala case study--------------*/
.main-amal-case-study{
    padding: 250px 0px 100px;
    text-align: center;
}
.main-amal-case-study *{
    color: #181818 !important;
}
.main-amal-case-study h2.primary-heading{
    margin-bottom: 0px;
    line-height: 60px;
}
.amal-coming-soon{
    background: #FFF url("/public/assets/images/case-study/amal/Background_amal.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amal-coming-soon img{
    width: 90%;
}
.amal-coming-soon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1;
    transition: 0.5s;
    opacity: 1;
}
.amal-coming-soon p{
    font-family: 'Whyte';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
    z-index: 2;
}
#amal-case-study .animate_image:after{
    height: 40%;
}
#amal-case-study .next_btn{
    margin: 50px 0px 100px 0px;
}
@media only screen and (max-width: 567px) {
    .main-amal-case-study{
        padding: 150px 0px 60px;
    }
    .amal-coming-soon{
        height: 300px;
    }
    .amal-coming-soon p{
        font-size: 15px;
    }
    #amal-case-study .next_btn{
        margin: 20px 0px 50px 0px;
    }
}
