body{
    background: #fff !important;
}

#case_sec_1 {
    padding-top: 150px;
    padding-bottom: 50px;
    background: #ffffff;
}
.main_heading {
    color: #0D1320;
    font-family: Space Grotesk;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.project-link , p {
    color: var(--heading-text, #0D1320);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.secondary-heading-case {
    color: #0D1320;
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
.steps-head-count {
    color: var(--heading-text, #0D1320);
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80.64px; /* 112% */
}
.process-head {
    color: var(--heading-text, #0D1320);
    font-family: Space Grotesk;
    font-size: 23.042px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.005px;
}
.feature-prior-h {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; /* 150% */
    letter-spacing: -0.572px;
}
.content-sec3 {
    width: 70%;
}

.img-team {
    display: flex;
    width: 64px;
    height: 64px;
    padding-top: 3.75px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    margin-right: 8px;
}
.mem-3 > img {
    border-radius: 50%;
}
.mem-1 {
    background: var(--Blue, #C5ECFD);
}
.mem-2 , .mem-3{
    background: var(--Rose, #FFC7D6);
}
.mem-4 {
    background: var(--gray, #D7D7D9);}

.bg-mark {
    background-image: url('../images/case-1/bg-marked.png');

    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 100px;
}
.first_Proc {
    max-width: 370px;
    margin-left: auto;
}

.sec4-case1 {
    overflow-x: hidden;
}
.process-style {
    display: inline-flex;
    padding: 18.433px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 18.433px;
    border: 2.304px solid #000;
    background: #FFF;
}
.process-style > p {
    color: #000;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.005px;
    margin: 0;
}
.box-of-dos {
    width: 128px;
    height: 128px;
    padding: 10px;
    font-size: 12px;
}

.satoshi-img {
    background-image: url('../images/case-1/satoshi-img.png');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.bg-typo-boxes > div {
    border-radius: 20px;
    width: 100%;
}

.bg-typo-boxes.up-box {
    height: 63%;
}
.bg-typo-boxes.low-box {
    height: 35%;
    margin-top: 10px;
}

.mobile-img {
    background-image: url('../images/case-1/wow-mob-1.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.web-img {
    background-color: #fafafa;
    width: 100%;
}
.web-img > img{
    object-fit: contain;
    width: 75%;
    height: 100%;
}

.bg-3rd-last {
    background-image: url('../images/case-1/case-mob-bg.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2nd-last {
    background-image: url('../images/case-1/case-bg-2.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-last {
    background-image: url('../images/case-1/mobile-views.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.next-case {
    display: flex;
    width: 100%;
    padding: 8px 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA;
}
.next-case > p{
    color: rgba(13, 19, 32, 0.90);
    font-family: Space Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 94px; /* 146.875% */
}

@media (min-width: 1221px) and (max-width: 1400px) {
   .first_Proc {
        max-width: 315px;
    }

}
@media (min-width: 600px) and (max-width: 1220px) {

}
@media only screen and (max-width: 600px) {
    .main_heading {
        width: 335px;
        color: #0D1320;
        font-family: Space Grotesk;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .project-link, p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

