@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body{
    overflow-x: hidden;
    font-family: Space Grotesk;
    /* opacity: 0.7;
    background: url('../images/Noise.png'), lightgray 0% 0% / 49.86979067325592px 49.86979067325592px repeat;
    mix-blend-mode: overlay;
    flex-shrink: 0; */
}

/*section{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    background: #FFF;*/
/*}*/
html {
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}
a:hover {
    color: #eb7700 !important;
}
:root{
    --primary-red: #eb7700;
    --primary-black: #181818;
    --primary-gray: #8D8D8D;
    --primary-purple: #784978;
}

/*GLOBAL STYLING*/

/*GLOBAL STYLING*/
.navbar-container{
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 9999;
}
nav {
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(16, 16, 16, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 85px;
    padding: 0px 25px;
    overflow: hidden;
    padding-top: 5px !important;
}

#navbarLinks a.nav-link,
#navbarLinks .accordion-button{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin: 0px 10px;
    padding: 24px;
    border-radius: 30px;
}
#navbarLinks a.nav-link:hover,
#navbarLinks .accordion-button:hover{
     background: #F1F1F1;
     border-radius: 30px;

}

section{
    overflow-x: hidden !important;
}
/*---------------------FOOTER STYLING STARTS--------------------*/
footer *{
    text-align: left !important;
}
footer{
    padding: 20px 0px 30px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    /*bottom: 0px;*/
    /*z-index: 0;*/
    /*position: fixed;*/
    height: 100%;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: sticky;*/
    /*left: 0;*/
}
footer .row.border-b-footer{
    margin: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}
footer .sub-heading, footer .sub-heading a{
    color: var(--heading-text, #0D1320) !important;
    font-size: 55px;
    line-height: 120%;
    font-weight: 400;
}
footer .subpro-head{
    font-size: 55px;
    color: rgba(13, 19, 32, 0.50);
    font-weight: 400;
}
footer .secondary_para{
    letter-spacing: unset;
    font-weight: 400;
}
footer .primary-para-grey {
    color: rgba(13, 19, 32, 0.50);
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .primary-para-black {
    color: #000;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ft_social_link {
    font-size: 18px;
    color: #0D1320;
}
footer .animate_border:after{
    margin-top: 30px !important;
}
footer .primary-para:after,
footer .ft_social_link:after{
    margin-top: 10px !important;
}
footer .sub-para{
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: #ADACAC !important;
}
#chat_icon_container{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    right: 70px;
    bottom: 60px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    z-index: 999;
}
#chat_icon_container img{
    width: 25px;
    transition: 0.5s ease-in-out;
}
#chat_icon_container:hover{
    transform: scale(1.1);
}
#chat_icon_container:hover img{
    transform: scale(0.9);
}

.hide-navbar {
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-in-out;
}
.show-navbar {
    transform: translate(-50%, 0%);
    transition: transform 0.4s ease-in-out;
}


.scroll_in{
    animation: animatedImage 2s linear;
}

@media only screen and (min-width: 1600px) {

}
@media (min-width: 600px) and (max-width: 1367px) {

}
/*FOOTER STYLING*/
@media only screen and (max-width: 600px) {

    nav{
        height: unset;
    }


    nav{
        padding: 8px 4px;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .dropdown_menu{
        display: none;
    }
    #navbarLinks{
        height: fit-content;
    }
    #navbarLinks a.nav-link,
    #navbarLinks .accordion-button{
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.02em;
    }
    #navbarLinks a.nav-link, #navbarLinks .accordion-button {
        margin: 0px 0px;
        padding: 14px;
        border-radius: 30px;
    }

    #navbarLinks li .sub-heading.animate_border:after{
        background-color: var(--primary-black);
    }
    #navbarLinks li .sub-heading{
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 0px;
        margin-left: 15px;
    }
    #navbarLinks li .secondary_para{
        letter-spacing: 0.07em;
        font-weight: 700;
        color: #D2D2D2;
        float: left;
    }

    footer{
        background-position-y: 100%;
        background-position-x: unset;
        padding: unset;
    }
    footer .sub-heading, footer .sub-heading a {
        color: var(--heading-text, #0D1320);
        font-family: Space Grotesk;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    footer .subpro-head {
        color: rgba(13, 19, 32, 0.50);
        font-family: Space Grotesk;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    footer .primary-para-grey {
        color: rgba(13, 19, 32, 0.50);
        font-family: Space Grotesk;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    footer .primary-para-black { 
        color: #000;
        font-family: Space Grotesk;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
    }
    
    
    
    footer .sub-heading{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        padding-right: 0px;
    }
    
    .ft_social_link  {
        color: var(--heading-text, #0D1320);
        font-family: Space Grotesk;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #chat_icon_container{
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
    }
    #chat_icon_container img {
        width: 20px;
    }

    

}

@media only screen and (max-width: 376px){
    #navbarLinks a.nav-link, #navbarLinks .accordion-button{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: #000000;
        margin: 0px 2px;
        padding: 14px;
        border-radius: 20px;
    }
    nav{
        height: 55px;
    }



    #navbarLinks a.nav-link,
    #navbarLinks .accordion-button{
        font-size: 12px;
    }

    #navbarLinks li .sub-heading{
        font-size: 14px;
    }


    footer .sub-heading{
        font-size: 22px;
    }
    #chat_icon_container{
        right: 30px;
        bottom: 30px;
    }
}
