@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
[data-scroll-container], [data-scroll-section] { transform-style: preserve-3d; will-change: transform; }
body{
    overflow-x: hidden;
    font-family: Space Grotesk;
    /* background: url(../images/Noise.png) , lightgray 0% 0% / 100px 100px repeat;    
    mix-blend-mode: overlay; */
}

/*section{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    background: #FFF;*/
/*}*/
html {
    scroll-behavior: smooth;
}
.dot {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    z-index: 1000;
    transition: all 0.2s,width 0.5s ease-out;
    width: fit-content;
    pointer-events: none;
    top: -100px;
}

a{
    text-decoration: none;
}
:root{
    --primary-red: #eb7700;
    --primary-black: #181818;
    --primary-gray: #8D8D8D;
    --primary-purple: #784978;
}
.heading_text {
    color: var(--heading-text, #0D1320);
}
.bg_primary{
    background: white;
}
/*GLOBAL STYLING*/
.red_btn{
    color: var(--primary-red) !important;
    border: 1px solid var(--primary-red);
    width: 141px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 27px 48px rgba(225, 56, 56, 0.2));
    border-radius: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170.19%;
    transition: 0.3s ease-in-out;
}
.red_btn:hover{
    color: #FFF !important;
    border: 1px solid black;
    background: #000;
}
.primary-heading{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 110px;
    color: #000;
}
.primary-heading b{
    font-weight: 500;
    display: block;
}
.primary-heading .border-bot{
    border-bottom: 1px solid #FFF!important;
}
.secondary-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.07em;
}

.heading_3{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.primary-para{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.secondary_para{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #000000;
}

.sub-heading{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: var(--primary-black);
}
.sub-para{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--primary-black);
}


/*GLOBAL STYLING*/
.navbar-container{
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 9999;
}
nav {
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(16, 16, 16, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 85px;
    padding: 0px 25px;
    overflow: hidden;
    padding-top: 5px !important;
}

#navbarLinks a.nav-link,
#navbarLinks .accordion-button{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin: 0px 10px;
    padding: 24px;
    border-radius: 30px;
}
#navbarLinks a.nav-link:hover,
#navbarLinks .accordion-button:hover{
     background: #F1F1F1;
     border-radius: 30px;
     
}

section{
    overflow-y: hidden !important;
}
/*---------------------FOOTER STYLING STARTS--------------------*/
footer *{
    text-align: left !important;
}
footer{
    padding: 20px 0px 30px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    /*bottom: 0px;*/
    /*z-index: 0;*/
    /*position: fixed;*/
    height: 100%;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: sticky;*/
    /*left: 0;*/
}
footer .row.border-b-footer{
    margin: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}
footer .sub-heading, footer .sub-heading a{
    color: var(--heading-text, #0D1320) !important;
    font-size: 55px;
    line-height: 120%;
    font-weight: 400;
}
footer .subpro-head{
    font-size: 55px;
    color: rgba(13, 19, 32, 0.50);
    font-weight: 400;
}
footer .secondary_para{
    letter-spacing: unset;
    font-weight: 400;
}
footer .primary-para-grey {
    color: rgba(13, 19, 32, 0.50);
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .primary-para-black {
    color: #000;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ft_social_link {
    font-size: 18px;
    color: #0D1320;
}
footer .animate_border:after{
    margin-top: 30px !important;
}
footer .primary-para:after,
footer .ft_social_link:after{
    margin-top: 10px !important;
}
footer .sub-para{
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: #ADACAC !important;
}
#chat_icon_container{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    right: 70px;
    bottom: 60px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    z-index: 999;
}
#chat_icon_container img{
    width: 25px;
    transition: 0.5s ease-in-out;
}
#chat_icon_container:hover{
    transform: scale(1.1);
}
#chat_icon_container:hover img{
    transform: scale(0.9);
}

.hide-navbar {
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-in-out;
}
.show-navbar {
    transform: translate(-50%, 0%);
    transition: transform 0.4s ease-in-out;
}


.scroll_in{
    animation: animatedImage 2s linear;
}
@keyframes animatedImage {
    0% {
        height: 0px;
    }
    50% {
        height: 50%;
    }
    100% {
        height: auto;
    }
}
@media only screen and (min-width: 1600px) {
    .secondary-heading{
        font-size: 48px;
        line-height: 55px;
    }
    .sub-heading{
        font-size: 40px;
        line-height: 42px
    }
    .sub-para,
    .primary-para{
        font-size: 20px !important;
    }
}
@media (min-width: 600px) and (max-width: 1367px) {
    .primary-heading{
        font-size: 86px;
    }
    .dropdown_menu .nav_item .heading_3 {
        font-size: 22px;
    }
    .back_drop_heading{
        font-size: 110px;
    }
    .des_sec_case_studies h2.secondary-heading.fw-bold{
        font-size: 74px;
    }
    .home_animation2,
    .home_animation3,
    .home_animation4 {
        width: 190px;
        height: 380px;
    }




    .case_study_image {
        margin-left: -170px;
    }
}
/*FOOTER STYLING*/
@media only screen and (max-width: 600px) {
    .dot {
        display: none;
    }
    .primary-heading{
        font-size: 32px !important;
        line-height: 46px;
    }
    .secondary-heading{
        font-size: 26px !important;
        line-height: 46px;
    }

    .sub-heading{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px
    }

    .sub-para,
    .primary-para{
        font-weight: 400;
        font-size: 16px !important;
        line-height: 140%;
    }
    .back_drop_heading{
        font-size: 32px !important;
        line-height: 16px;
        margin-bottom: -15px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(255 6 6 / 5%);
    }
    .des_sec_case_studies h2.secondary-heading.fw-bold{
        font-size: 24px !important;
    }
    .des_sec_case_studies .red_btn{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .des_sec_case_studies{
        overflow: hidden;
    }
    nav{
        height: unset;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
    }
    

    .red_btn{
        width: 100%;
        height: 40px;
        margin: 20px 0px;
    }
    nav{
        padding: 8px 4px;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .dropdown_menu{
        display: none;
    }
    #navbarLinks{
        height: fit-content;
    }
    #navbarLinks a.nav-link,
    #navbarLinks .accordion-button{
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.02em;
    }
    #navbarLinks a.nav-link, #navbarLinks .accordion-button {
        margin: 0px 0px;
        padding: 14px;
        border-radius: 30px;
    }
    .accordion-button:not(.collapsed){
        background-color: transparent;
        box-shadow: none;
    }
    .accordion-item {
        background-color: transparent;
        border: none;
    }
    .accordion-button{
        justify-content: center;
        background-color: transparent;
    }
    #collapseOne{
        width: fit-content;
    }
    .accordion-button::after{
        margin-left: 10px;
    }
    .accordion-button::after{
        background-image : url('../images/toggle_down.svg')
    }
    .accordion-button:not(.collapsed)::after{
        background-image : url('../images/toggle_down.svg');
        transform: rotate(180deg);
    }
    #navbarLinks li .sub-heading.animate_border:after{
        background-color: var(--primary-black);
    }
    #navbarLinks li .sub-heading{
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 0px;
        margin-left: 15px;
    }
    #navbarLinks li .secondary_para{
        letter-spacing: 0.07em;
        font-weight: 700;
        color: #D2D2D2;
        float: left;
    }
    #faqs {
        padding: 50px 0px;
    }
    #faqs .sub-heading{
        font-size: 24px;
    }


    .case_study_image {
        margin-left: -60px;
        margin-top: -40px;
        width: 120%;
    }
    .des_sec_case_studies .red_btn{
        width: 150px;
        height: 40px;
    }

    .animate_image{
        min-height: 100%;
    }


    footer{
        background-position-y: 100%;
        background-position-x: unset;
        padding: unset;
        min-height: 750px;
    }
    
    footer .row:last-child{
        margin-bottom: 0px;
    }
    footer .secondary_para{
        font-weight: 300;
    }
    footer .sub-heading{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        padding-right: 0px;
    }
    footer .primary-para-black{
        display: block;
    }
    footer .row:last-child{
        margin-top: 0px;
        margin-bottom: 50px;
    }
    #chat_icon_container{
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
    }
    #chat_icon_container img {
        width: 20px;
    }
    .social_links_footer a:nth-child(2){
        margin: 0px 40px;
    }

    .mujadad_hone_text {
        margin-top: 220px;
        font-size: 4rem;
        letter-spacing: 5px;
    }

}

@media only screen and (max-width: 376px){
    #navbarLinks a.nav-link, #navbarLinks .accordion-button{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: #000000;
        margin: 0px 2px;
        padding: 14px;
        border-radius: 20px;
    }
    nav{
        height: 55px;
    }
    .primary-heading{
        font-size: 30px;
        line-height: 44px;
    }
    .secondary-heading{
        font-size: 24px;
        line-height: 38px;
    }

    .sub-heading{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px
    }
    
    .sub-para,
    .primary-para{
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .back_drop_heading{
        font-size: 30px;
        line-height: 16px;
    }

    #navbarLinks a.nav-link,
    #navbarLinks .accordion-button{
        font-size: 12px;
    }

    #navbarLinks li .sub-heading{
        font-size: 14px;
    }


    footer .sub-heading{
        font-size: 22px;
    }
    #chat_icon_container{
        right: 30px;
        bottom: 30px;
    }
}
