body{
    background-color: #FFF !important;
}
*{
    color: #000 !important;
}
section.dp_sec-1{
    background: #FFF url('../images/development/dev_main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 200px 0px 0px;
}
section.dp_sec-1 h1,
section.dp_sec-1 h1 b{
    color: #000;
    font-size: 84px ;
}
section.dp_sec-1 h1 .animate_border:after{
    transition: 2s ease-in-out;
    margin-top: 50px;
}

/*@keyframes animatedBackground {*/
/*    0% { background-position: -200px 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/
/*@-moz-keyframes animatedBackground {*/
/*    0% { background-position: -200px 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/
/*@-webkit-keyframes animatedBackground {*/
/*    0% { background-position: -200px 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/
/*@-ms-keyframes animatedBackground {*/
/*    0% { background-position: -200px 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/
/*@-o-keyframes animatedBackground {*/
/*    0% { background-position: -200px 0; }*/
/*    100% { background-position: 0 0; }*/
/*}*/

.dp_sec-2 .app_image{
    width: 100%;
}
.dp_sec-2 .app_image.img_app_section{
    width: 120%;
}
.ios_section{
    padding: 50px 0px 100px;
    background: #FFF url("../images/development/ios_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.app_image{
    width: 616px;
}
.web_section{
    height: 500px;
}
.app_image.front_end_gif,
.app_image.front_end_img{
    width: 300px;
}
.app_image.front_end_img{
    z-index: 1;
}
.app_image.front_end_gif{
    z-index: 2;
    left: 110px;
    border-radius: 50%;
    top: 95px;
}
.dp_sec-2 .row .sub-heading{
    margin-bottom: 20px;
}


#dp_sec_expertise{
    padding: 100px 0px 90px;
    background: #000 url("../images/development/blue_eclipse.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#dp_sec_expertise img:not(:last-child){
    margin: 8px 0px;
}
#dp_sec_expertise .expertise_logos_1{
    width: 100%;
}
#dp_sec_expertise .expertise_logos_2{
    width: 80%;
}
#dp_sec_expertise .expertise_logos_3{
    width: 65%;
}
#dp_sec_expertise .expertise_logos_4{
    width: 50%;
}
.case_study_image{
    width: 100%;
}
@media only screen and (min-width: 1540px) {
    section.dp_sec-1{
        height: 900px;
    }
    .ios_section .app_image{
        width: 550px;
    }
    .case_study_image {
         margin-left: unset;
    }
    .dp_sec-2 {
        margin-top: -10vh;
    }
}
@media only screen and (max-width: 600px) {
    section.dp_sec-1{
        background: #FFF;
        padding: 130px 0px 20px;
        height: fit-content;
    }
    section.dp_sec-1 h1,
    section.dp_sec-1 h1 b{
        font-size: 40px !important;
        line-height: 52px !important;
    }
    section.dp_sec-1 h1 b{
        display: inline;
    }
    section.dp_sec-1 h1 .animate_border:after{
        width: 70%;
        margin: unset;
    }
    section.dp_sec-1 h1 .animate_border{
        float: unset;
    }
    .dp_sec-2{
        overflow: hidden;
        padding: 30px 0px;
    }
    .dp_sec-2 .app_image.img_app_section,
    .app_image {
        width: 100%;
        margin: 0px auto 20px auto;
        display: block;
    }
    .dp_sec-2 .app_image.img_app_section{
        width: 120%;
        display: block;
        margin-bottom: -50px;
    }
    .app_section img.app_image{
        transform: translateX(5%);
    }
    .ios_section{
        padding: 20px 0px 50px;
    }
    #dp_sec_expertise .expertise_logos_1 {
        width: auto;
        margin: 10px auto;
        display: block;
        max-width: 100px;
    }
    .app_image.front_end_gif,
    .app_image.front_end_img{
        width: 200px;
    }
    .app_image.front_end_img {
        left: 30px;
    }
    .app_image.front_end_gif {
        left: 10px;
        top: 70px;
    }
    .case_study_image{
        margin-left: 0px;
        width: 100%;
    }
    .dp_sec_case_studies .red_btn{
        width: 150px;
        height: 40px;
    }
    body > section.dp_sec_case_studies.pb-5 > div.container-fluid > div > div.col-md-7.order-0.order-md-1{
        padding-left: 0px;
        padding-right: 0px;
    }

}
