/* body {
    background: url(../images/Noise.png),  lightgray 0% 0% / 100px 100px repeat; } */


#hp_sec_1 {
        padding-top: 150px;
        padding-bottom: 30px;
        min-height: 750px;
}
#hp_sec_1 .primary-heading{
    color: rgba(13, 19, 32, 0.80);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#hp_sec_1 .sub-heading{
    color: rgba(13, 19, 32, 0.70);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.mujadad_hone_text {
    font-size: 22rem;
    text-align: center;
    font-weight: 300;
    width: fit-content;
    margin: 0 auto;
}
.mujadad_hone_text span{
    color: #FF7D59;
    position: absolute;
    right: 15px;
}



.work-1-hp .bg-work {
    background-color: #fafafa;
    border-radius: 25px;
}
.bg-work {
    position: relative;
}
.route-to-work {
    position: absolute;
    width: 100%;
    height: 100%;
}
.hilal-tag{
    color: var(--heading-text, #0D1320);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.88px;
}

.img-block-work{
    overflow: hidden;
    max-height: 710px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.work-1-hp .secondary-heading {
    width: 430px;
}
.work-1-hp .img-block-work img{
    margin-top: -230px;

}


.work-2-hp .bg-work {
    background-color: var(--primary-red);
    border-radius: 20px;
}
.work-2-hp h2 {
    font-weight: 500;
}
.work-2-hp .secondary-heading {
    width: 500px;
}
.wow-home-img {
    margin-left: -60px;
}




.work-3-hp h2 {
    font-weight: 500;
    width: 55%;
    margin: 20px auto;
}
.work-3-hp h5 {
    margin-top: 48px;
}
.work-3-hp .bg-work {
    background: #722ED1;
    border-radius: 25px;
}
.work-3-hp .amal-home-img {
    width: 80%;
}
@media (min-width: 1401px) and (max-width: 1601px) {
    .mujadad_hone_text {
        margin-top: -20px;
        font-size: 18rem;
    }
}
@media (min-width: 1221px) and (max-width: 1400px) {
    .mujadad_hone_text {
        margin-top: -20px;
        font-size: 16rem;
    }
}


@media (min-width: 992px) and (max-width: 1220px) {
    #hp_sec_2 .service_card {
        width: 100%;
        height: 350px;
        padding: 28px 20px;
    }
    #hp_sec_2 .service_card a h3{
        font-size: 22px;
    }
    .mujadad_hone_text {
        margin-top: -20px;
        font-size: 13rem;
    }
}
@media (min-width: 821px) and (max-width: 991px) {
    .mujadad_hone_text {
        margin-top: -20px;
        font-size: 11rem;
    }
}
@media (min-width: 768px) and (max-width: 820px) {
    #hp_sec_2 .service_card {
        width: 100%;
        height: 350px;
        padding: 28px 20px;
    }
    #hp_sec_2 .service_card a h3{
        font-size: 22px;
    }
    .mujadad_hone_text {
        margin-top: -20px;
        font-size: 9rem;
    }
}
@media only screen and (max-width: 600px) {
    .work-1-hp .img-block-work img {
        margin-top: -80px;
        width: 100%;
    }
.mujadad_hone_text {
    color: #505254;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 75.911px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .work-1-hp .primary-heading{
        color: #0D1320;
        font-family: Space Grotesk;
        font-size: 44px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .work-1-hp .secondary-heading {
        width: 280px;
        font-family: Space Grotesk;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 18px 0px;
    }
    .work-1-hp .hilal-tag {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.92px;
        margin-top: 32px;
    }
    .read-more-hilal {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: #000;
        color: #FFF;
        font-family: Space Grotesk;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: fit-content;
    }
    #hp_sec_1{
        padding-top: 150px;
        padding-bottom: 20px;
        min-height: unset;
    }



    .work-2-hp .secondary-heading {
        width: 84%;
        color: #FFF;
        font-family: Space Grotesk;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 18px 0px;
    }
    .work-2-hp .secondary-heading span {
        color: #FFF;
        font-family: Space Grotesk;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .work-2-hp .hilal-tag {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.92px;
        margin-top: 32px;
    }
    .read-more-wow {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.50);
        color: #FFF;
        font-family: Space Grotesk;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: fit-content;
    }

    .work-3-hp h2 {
        width: 100%;
    }
}

